*.vpwhist
*.vpwhistxml
*.vtg
*.bin
*.elf
*.map
*.log
*.cfg
*.json
*.svd
*-bak
Disp32/output_esp32s3/
Midi32/output_doit/
Schematics-backups/
Schematics/#auto_saved_files#
*.pdf
Schematics/_autosave-*
