[submodule "Disp32/libraries"]
	path = Disp32/libraries
	url = git@github.com:markeby/libraries_Disp32
[submodule "Midi32/libraries"]
	path = Midi32/libraries
	url = git@github.com:markeby/ZynthLib.git
